*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(43,43,43);
}

.container{
    background-color: rgb(43,43,43);
    padding-bottom: 1rem;
}

.headerContainer{
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menubarContainer{
    padding-top: 2px;
    width: 3.125rem;
    height: 3rem;
    cursor: pointer;
}

.line{
    border: solid 0.125rem;
    width: 1.563rem;
    margin-bottom: 0.313rem;
    margin-top: 0.5rem;
    margin-left: 0.563rem;
    border-color: white;
}

.hidden{
    display: none;
}

.change .line:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 0.625rem);
}

.change .line:nth-child(2) {
    opacity: 0;
}

.change .line:nth-child(3) {
    transform: rotate(45deg) translate(-0.438rem, -0.5rem);
}

.logoContainer{
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subLogoContainer{
    height: 3rem;
    width: 3rem;
    border-radius: 10rem;
    background-color: rgb(158, 21, 21);
}

.subMenubarContainer{
    width: 10rem;
    background-color: rgb(233,233,233);
    border-radius: 0 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -10rem;
}

.fadeIn{
    animation: sideIn 0.6s ease forwards
}

.barContainer, .barContainer1{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.15s;
    color: rgb(43,43,43);
}

.barContainer:hover{
    background-color: rgb(158, 21, 21);
    color: rgb(233,233,233);
}

.barContainer1:hover{
    background-color: rgb(158, 21, 21);
    color: rgb(233,233,233);
    border-radius: 0 0 0.5rem 0;
}

a{
    text-decoration: none;
}

@keyframes sideIn {
    from{

    } to{
        left: 0;
    }
}

.filterContainer{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.textContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(233,233,233);
}

.subFilterContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.filter8{
    height: 2rem;
    background-color: rgb(158, 21, 21);
    color: rgb(233,233,233);
    border: none;
    box-shadow: 5px 5px 10px rgb(72,72,72);
    border-radius: 0.5rem;
    font-size: 1.2rem;
}


.listContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.subListContainer{
    background-color: rgb(158, 21, 21);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgb(72,72,72);
    display: flex;
    flex-direction: column;
    width: 90%;
}

.subNameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: rgb(233,233,233);
    font-weight: bold;
}

.averageContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.grades{
    font-size: 1.2rem;
    color: rgb(233,233,233);
}

.viewButtonContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewButton{
    background-color: rgb(233,233,233);
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.15s;
    box-shadow: 5px 5px 10px rgb(72,72,72);
}

.viewButton:hover{
    background-color: transparent;
    color: rgb(233,233,233);
    border: solid rgb(233,233,233) 1px;
}

.viewButton:active{
    transform: scale(0.9);
    box-shadow: none;
}

.addListContainer, .addListContainer1{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subAddListContainer{
    background-color: rgb(233,233,233);
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}

.infoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.subInfoContainer{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    width: 90%;
    height: 100%;
    border-radius: 0.5rem;
    border: solid rgb(43,43,43) 1px;
    background-color: rgb(217,217,217);
    font-size: 1.2rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subInfoContainer1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info1{
    width: 90%;
    height: 100%;
    border-radius: 0.5rem;
    border: solid rgb(43,43,43) 1px;
    background-color: rgb(217,217,217);
    font-size: 1.2rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttonContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.closeContainer{
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.subCloseContainer{
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton8{
    height: 50%;
    cursor: pointer;
}

.closeContainer1{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: right;
    align-items: center;
}

.closeButton9{
    height: 100%;
    width: 5rem;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(158, 21, 21);
    color: rgb(233,233,233);
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.15s;
    box-shadow: 5px 5px 10px rgb(72,72,72);
}

.closeButton9:hover{
    background-color: transparent;
    border: solid rgb(158, 21, 21) 1px;
    color: rgb(158, 21, 21);
}

.closeButton9:active{
    transform: scale(0.9);
}

/*tablet*/
@media only screen and (min-width: 601px){
    .subListContainer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
    }

    .averageContainer{
        justify-content: left;
    }

    .filterContainer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .subFilterContainer{
        margin: 0;
    }
}